designs/pages/weatherSearch.json
[
    {
        "id": "sd_Y9j8akq1eKwFIskd",
        "type": "tab",
        "createdDate": "2022-06-02T09:16:30.393Z",
        "label": "weatherSearch",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "weatherSearchComponent"
    },
    {
        "id": "sd_xNwGiHNyafLkBV3P",
        "type": "OnInit",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_xNwGiHNyafLkBV3P",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_UfBKArTG534lGaY5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weatherSearchComponent"
    },
    {
        "id": "sd_UfBKArTG534lGaY5",
        "type": "PageVariables",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "searchString",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "logArray",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            }
        ],
        "functionName": "sd_UfBKArTG534lGaY5",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "weatherSearchComponent"
    },
    {
        "id": "sd_xh4b1nYV23Kq58VV",
        "type": "PageStart",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "updateLog",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "logobject",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updateLog",
        "category": "General",
        "x": 45,
        "y": 140,
        "wires": [
            [
                "sd_DAIoce5zLSHz5ddG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weatherSearchComponent"
    },
    {
        "id": "sd_DAIoce5zLSHz5ddG",
        "type": "Script",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.logArray.push(bh.input.logobject);",
        "functionName": "sd_DAIoce5zLSHz5ddG",
        "category": "Function",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "weatherSearchComponent"
    },
    {
        "id": "sd_sCiN1CN3svsBEZ1D",
        "type": "PageStart",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "processWeather",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "cityName",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "processWeather",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_5XefC27TcJLNN97U"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weatherSearchComponent"
    },
    {
        "id": "sd_5XefC27TcJLNN97U",
        "type": "Script",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.showCard = (typeof this.page.weatherdata === \n'object' && Object.keys(this.page.weatherdata).length > 2);",
        "functionName": "sd_5XefC27TcJLNN97U",
        "category": "Function",
        "x": 185,
        "y": 280,
        "wires": [
            [
                "sd_6zu2iXkXPQvaHbrZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6zu2iXkXPQvaHbrZ",
        "type": "PageSwitch",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "showCard",
        "propertyType": "this.page",
        "propertyGv": "this.page.showCard",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_6zu2iXkXPQvaHbrZ",
        "category": "Function",
        "x": 345,
        "y": 280,
        "wires": [
            [
                "sd_YmqVYIm2jjmNovPa"
            ],
            [
                "sd_L0vPcL5rdfWT9Cup"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_L0vPcL5rdfWT9Cup",
        "type": "Script",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "localStorage.lastCity = bh.input.cityName;\nbh.input.successlog = {type: 'info', message: 'Successfully Retrieved the Weather Data for city: ' + bh.input.cityName}",
        "functionName": "sd_L0vPcL5rdfWT9Cup",
        "category": "Function",
        "x": 465,
        "y": 300,
        "wires": [
            [
                "sd_fJxkIkFMVrVTnu0c"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fJxkIkFMVrVTnu0c",
        "type": "PageCallService",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "success log",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Y9j8akq1eKwFIskd",
            "type": "tab",
            "createdDate": "2022-06-02T09:16:30.393Z",
            "label": "weatherSearch",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_xh4b1nYV23Kq58VV",
            "flowName": "updateLog"
        },
        "inputVariables": [
            {
                "key": "logobject",
                "map": true,
                "valueType": "bh",
                "value": "input.successlog"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./weatherSearch",
        "startName": "updateLog",
        "inputParams": [
            "bh.input.successlog"
        ],
        "accept_csd": false,
        "functionName": "successLog",
        "category": "General",
        "x": 585,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_FKBYSj2BtrrHr3yB",
        "type": "Catch",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_FKBYSj2BtrrHr3yB",
        "category": "General",
        "x": 345,
        "y": 120,
        "wires": [
            [
                "sd_nbURRVTX8GMZOqho"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weatherSearchComponent"
    },
    {
        "id": "sd_nbURRVTX8GMZOqho",
        "type": "Script",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.errorlog = { type: 'error', message: `Weather Data Not Found${bh.input.cityName ? ` For the City: ${bh.input.cityName}` : ''}!` }",
        "functionName": "sd_nbURRVTX8GMZOqho",
        "category": "Function",
        "x": 465,
        "y": 120,
        "wires": [
            [
                "sd_YmqVYIm2jjmNovPa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_YmqVYIm2jjmNovPa",
        "type": "PageCallService",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "error log",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Y9j8akq1eKwFIskd",
            "type": "tab",
            "createdDate": "2022-06-02T09:16:30.393Z",
            "label": "weatherSearch",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_xh4b1nYV23Kq58VV",
            "flowName": "updateLog"
        },
        "inputVariables": [
            {
                "key": "logobject",
                "map": true,
                "valueType": "bh",
                "value": "input.errorlog"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./weatherSearch",
        "startName": "updateLog",
        "inputParams": [
            "bh.input.errorlog"
        ],
        "accept_csd": false,
        "functionName": "errorLog",
        "category": "General",
        "x": 585,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_977Cgt85QqVA7Wfw",
        "type": "PageStart",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get Weather",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "cityName",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "ssdWeatherApiUrl",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "flow_type": "sync",
        "functionName": "getWeather",
        "category": "General",
        "x": 45,
        "y": 540,
        "wires": [
            [
                "sd_TjEw88jJOczyeNbn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weatherSearchComponent"
    },
    {
        "id": "sd_TjEw88jJOczyeNbn",
        "type": "PageSwitch",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "cityNameNullCheck",
        "property": "cityName",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.cityName",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "istype",
                "v": "\"undefined\"",
                "vt": "\"undefined\"",
                "gv": "\"undefined\""
            },
            {
                "t": "empty"
            },
            {
                "t": "istype",
                "v": "\"string\"",
                "vt": "\"string\"",
                "gv": "\"string\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "functionName": "cityNameNullCheck",
        "category": "Function",
        "x": 185,
        "y": 540,
        "wires": [
            [
                "sd_RI5o17lGxe6dydpr"
            ],
            [
                "sd_RI5o17lGxe6dydpr"
            ],
            [
                "sd_RI5o17lGxe6dydpr"
            ],
            [
                "sd_anK2pfdCHjOwPWY5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RI5o17lGxe6dydpr",
        "type": "SnackBar",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "snackbar",
        "message": {
            "type": "str",
            "value": "invalid city name"
        },
        "action": {
            "type": "str",
            "value": "okay"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "snackbar",
        "category": "General",
        "x": 325,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_anK2pfdCHjOwPWY5",
        "type": "Script",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.ssdWeatherApiUrl = `${bh.system.environment.properties.ssdURL}weather`;\nbh.local.qparams = {\n    cityName: bh.input.cityName\n}",
        "functionName": "sd_anK2pfdCHjOwPWY5",
        "category": "Function",
        "x": 365,
        "y": 620,
        "wires": [
            [
                "sd_jRgr5qrInLcItWEs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jRgr5qrInLcItWEs",
        "type": "HttpRequest",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "call server name",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.local.ssWeatherApiUrl",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "ssWeatherApiUrl"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.weatherdata",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "weatherdata"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "callServerName",
        "category": "HTTP",
        "x": 545,
        "y": 620,
        "wires": [
            [
                "sd_0Dk9eWjJYHfZVlU7",
                "sd_LHrXW4HN7nDeB7kO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0Dk9eWjJYHfZVlU7",
        "type": "Log",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.local.ssdWeatherApiUrl",
        "functionName": "sd_0Dk9eWjJYHfZVlU7",
        "category": "General",
        "x": 705,
        "y": 680,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "ssdWeatherApiUrl",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_LHrXW4HN7nDeB7kO",
        "type": "PageCallService",
        "z": "sd_Y9j8akq1eKwFIskd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "callProcessWeather ",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Y9j8akq1eKwFIskd",
            "type": "tab",
            "createdDate": "2022-06-02T09:16:30.393Z",
            "label": "weatherSearch",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_sCiN1CN3svsBEZ1D",
            "flowName": "processWeather"
        },
        "inputVariables": [
            {
                "key": "cityName",
                "map": true,
                "valueType": "bh.input",
                "value": "cityName"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./weatherSearch",
        "startName": "processWeather",
        "inputParams": [
            "bh.input.cityName"
        ],
        "accept_csd": false,
        "functionName": "callProcessWeather",
        "category": "General",
        "x": 705,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
